@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;800&display=swap');

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 135px 18px 135px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.menu{
    display: flex;
}

.menu li a{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #6E7275;
    font-weight: 500;
    margin-left: 30px;
}

/* CONTEÚDO PRINCIPAL */
.conteudo{
    background-color: #EFF8FF;
}
.principal{
    display: flex;
    flex-wrap: wrap;
}

.titulo-botton{
    margin: 178px 0px 0px 135px;
}

.titulo-botton h1{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 575px;
    height: 180px;
}

.titulo-botton input{
    margin-top: 50px;
    width: 200px;
    height: 56px;
    border-radius: 50px;
    background-color: #0F9AFE;
    color: #EFF8FF;
    border: 0;
    padding: 16px 36px;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    cursor: pointer;
}

.imagem-working img{
    margin: 70px 135px 0px 0px;
}

/* COMO FUNCIONA */
.como-funciona h2{
    font-family: 'Sora', sans-serif;
    color: #293145;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 56px;
}

.informacoes{
    display: flex;
    justify-content: center;
    margin: 80px 0px 80px 0px;
    gap: 100px;
    flex-wrap: wrap;
}

.conexoes{
    width: 210px;
}

.gratuito{
    width: 257px;
}

.compartilhamento{
    width: 257px;
}

.conexoes, .gratuito, .compartilhamento{
    text-align: center;
}

.conexoes, .gratuito, .compartilhamento, h3{
    font-family: 'Sora', sans-serif;
    color: #293145;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

.conexoes, .gratuito, .compartilhamento, p{
    font-family: 'Inter', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #6E7275;
}

@media(max-width:850px){
    .cabecalho{
        padding: 12px 0px 12px 24px;
    }

    .menu{
        display: none;
        
    }

    .titulo-botton{
        margin: 41px 0px 0px 24px;
    }

    .titulo-botton h1{
        font-size: 24px;
        width: 287px;
        height: 90px;
    }

    .titulo-botton input{
        width: 144px;
        height: 32px;
        margin-top: 16px;
        padding: 8px 16px;
    }

    .imagem-working img{
        width: 100%;
    }
}


/* Nosso App */

.our-app{
    display: flex;
    flex-wrap: wrap;
    background-color: #EFF8FF;
    justify-content: center;
   
}
.our-app h3{
    font-size: 32px;
    margin-top: 117px;
    margin-left: 135px;
}
.descriptions-app{
    width: 444px;
    height: 78px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 135px;
    
}
.social{
    width: 165px;
    height: 52px;
    margin: 5px;
   
}
.social-div{
    margin: 40px;
    margin-left: 135px;
    
}
.applogo img{
    width: 400px;
}

.title-plan{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 16px;
}

.title-container-our-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container-our-plan h2{
    margin-top: 50px;
    margin-bottom: 16px;
    height: 18px;
    font-size: 40px;
}


.title-container-our-plan p{
    color: black;
    width: 400px;
    margin-bottom: 96px;
}

.card-container span{
  color: #293145;
}



.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 471px;
    background-color: #EFF8FF;
    margin: 15px;
    border-radius: 10px;
    align-items: center;
    
}

.card h3{
    margin-top: 60px;
    margin-bottom: 80px;
}

.value-style {
    display: flex;
    height: 70px;
    width: 130px;
    font-weight: bold;
}

.item1{
    display: flex;
    font-size: 20px;
    align-items: start;
}
.item2{
    display: flex;
    font-size: 50px;
    align-items: center;
}
.item3{
    display: flex;
    font-size: 26px;
    align-items: end;
}


.text-card{
    width: 300px;
    height: 75px;
    margin: 50px 35px 35px 35px;
    color: 6E7275;
    
}

.emphasis{
    margin-top: 14px;
    margin-bottom: 32px;
    display: flex;
    background-color: #0F9AFE;
    border-radius: 30px;
    width: 165px;
    height: 27px;
    align-items: center;
    justify-content: center;
}

.recommended span{
    color: white;
}


.emphasis p{
    margin: 0;
}

.recommended{
    background-color: #293145;
}

.recommended p{
    color: #DBDBDB;
}

.recommended h3{
    color: white;
    margin-top: 32px;
    margin-bottom: 15px;
}

.recommended span{
    color: white;
    
}
.recommended h3{
    font-size: 32px;
    
}

.card-container input{
    margin-top: 0px;
    margin-bottom: 64px;
    width: 230px;
    height: 43px;
    border-radius: 50px;
    background-color: #0F9AFE;
    color: #EFF8FF;
    border: 0;
    padding: 16px 36px;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    cursor: pointer;
}

@media (max-width: 1142px){
    .applogo {
        display: none;
    }
    .social-div{
        display: flex;
        margin: 40px;
        justify-content: center;
    
        
    }

    .our-app{
        display: flex;
        flex-wrap: wrap;
        background-color: #EFF8FF;
        justify-content: center;
       
       
    }
    .our-app h3{
        width: 350px;
        font-size: 32px;
        margin-top: 117px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        
    }

    .our-app p{
        width: 300px;
        font-size: 14px;
        margin: 0 auto;
        text-align: center;
       
    }
    .descriptions-app{
        width: 444px;
        height: 78px;
        font-size: 16px;
       margin: 0 auto;
    }
}