.como-funciona h2{
    font-family: 'Sora', sans-serif;
    color: #293145;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 56px;
}

.informacoes{
    display: flex;
    justify-content: center;
    margin: 80px 0px 80px 0px;
    gap: 100px;
    flex-wrap: wrap;
}

.conexoes{
    width: 210px;
}

.gratuito{
    width: 257px;
}

.compartilhamento{
    width: 257px;
}

.conexoes, .gratuito, .compartilhamento{
    text-align: center;
}

.conexoes, .gratuito, .compartilhamento, h3{
    font-family: 'Sora', sans-serif;
    color: #293145;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

.conexoes, .gratuito, .compartilhamento, p{
    font-family: 'Inter', sans-serif;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #6E7275;
}