.conteiner{
    background-color: #EFF8FF;
}

.principal{
    display: flex;
    flex-wrap: wrap;
}

.titulo-botton{
    margin: 178px 0px 0px 135px;
}

.titulo-botton h1{
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 575px;
    height: 180px;
}

.titulo-botton input{
    margin-top: 50px;
    width: 200px;
    height: 56px;
    border-radius: 50px;
    background-color: #0F9AFE;
    color: #EFF8FF;
    border: 0;
    padding: 16px 36px;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    cursor: pointer;
}

.imagem-working img{
    margin: 70px 135px 0px 0px;
}